# config.yaml

logging:
  enabled: true
  level: "INFO"
  format: "json"  # json 或 console
  output: "stdout"  # stdout, stderr, file
  file_config:
    dir: "./logs"
    filename: "poc_go"  # 会生成 app_name.log, app_name.log.20231201 等
  rotate_config:
    enabled: true
    rotate_daily: true
    max_age: 360h  # 15天 (15 * 24h)
    cleanup_enabled: true


grpc_clients:
  enabled: false
  default_timeout: 30s
  enable_health_check: true
  health_check_interval: 60s
  clients:
    user_service:
      host: "localhost"
      port: 50051
      secure: false
      timeout: 10s
    order_service:
      host: "order.example.com"
      port: 50052
      secure: true
      credentials_path: "/path/to/cert.pem"

mysql:
  enabled: true
  data_sources:
    primary:
      host: 192.168.31.35
      port: 3306
      user: root
      password: 123456
      database: quant_product
      max_open_conns: 3
      max_idle_conns: 2
      ping_on_start: true
#    analytics:
#      dsn: user:pwd@tcp(analytics-mysql:3306)/analytics?parseTime=true&charset=utf8mb4
#      max_open_conns: 30
#      max_idle_conns: 5
#      ping_on_start: true