akshare==1.16.90
pyyaml==6.0.2
mysqlclient==2.2.4
sqlalchemy==2.0.30
pysqlite3==0.5.4
pymarshaler==0.4.2
pandas==2.2.3
requests==2.32.3
wrapt==1.17.2
protobuf==6.30.2
grpcio==1.73.0
grpcio-tools==1.73.0
nacos-sdk-python==1.0.0
fastapi==0.115.12
pydantic==2.11.7
opentelemetry-api
opentelemetry-sdk
python-json-logger